@model IEnumerable<Airport.Data.Model.Station>
<link rel="stylesheet" href="~/css/station.css" asp-append-version="true" />

<script type="text/javascript">
    $("document").ready(function(){
        setInterval(function(){
        $.ajax({
            type: 'Get',
            url: '@Url.Action("LoadStations")',
            dataType:'json',
              success: function(response) {
                    $.each(response.stationList, function(index, station){
                        $(".flightInStation:eq("+index+")").html(stationList.flightId);
                    });
              },
            error:function(reponse){
                debugger;
                alert('error');
            }
        });
        },2000);
    });
</script>
@{
    ViewData["Title"] = "GetAllStationsStatus";
}
<a class="btn btn-outline-info" asp-action="Index">Return Back</a>
<div>
    <h1>Get All Stations Status</h1>
    <a class="btn btn-outline-info" asp-action="AddNewFlight" asp-route-isAsc="true">Add New ASC Flight</a>
    <a class="btn btn-outline-info" asp-action="AddNewFlight" asp-route-isAsc="false"> Add New DESC Flight</a>
</div>

<div class="d-flex justify-content-center">
    <div class="d-flex flex-wrap col-8">
        @foreach (var item in Model)
        {
            var className = "bi bi-" + @item.StationNumber + "-square-fill";
            <div class="card station">
                <div class="card-header d-flex justify-content-center">
                     <i class="@className"></i>
                </div>
                <div class="card-body">
                    <p class="card-text">flight in station</p>
                    <p class="card-text flightInStation">@item.FlightId</p>
                    

                </div>
            </div>
        }
    </div>
</div>
















<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StationNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="flightIdLine">
                    @Html.DisplayFor(modelItem => item.FlightId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StationNumber)
                </td>
            </tr>
        }
    </tbody>
</table>


