@model IEnumerable<Airport.Data.Model.Station>

@*<script type="text/javascript">
    $("document").ready(function(){
        setInterval(function(){
        $.ajax({
            type: 'Get',
            url: '@Url.Action("LoadStations")',
            dataType:'json',
            contentType: "application/json;charset=utf-8",
            success: function(data){
             var vehicleListData = '';
                debugger;
                alert("success");
                $.each(data,function(key,item){
                    
            vehicleListData += '<tr>';
            vehicleListData += '<td>'+item.FlightId+'</td>';
            vehicleListData += '<td>'+item.StationNumber+'</td>';
            vehicleListData += '</tr>';
             $('#vehicleList').append(vehicleListData);
             alert("succsess2")
              });
            },
            error:function(reponse){
                debugger;
                alert('error');
            }
        });
        },5000);
    });
</script>*@

@{
    ViewData["Title"] = "GetAllStationsStatus";
}
<div>
    <h1>Get All Stations Status</h1>
    <a class="btn btn-sm btn-outline-secondary" asp-action="AddNewFlight" asp-route-isAsc="true">Add New ASC Flight</a>
    <a class="btn btn-sm btn-outline-secondary" asp-action="AddNewFlight" asp-route-isAsc="false"> Add New DESC Flight</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StationNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="vehicleList">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StationNumber)
                </td>
            </tr>
        }
    </tbody>
</table>
