@model IEnumerable<AirportBusinessLogic.Dtos.FlightReadDto>
@{
    ViewData["Title"] = "GetPendingFlightsByAsc";
}
<a class="button-29" asp-action="Index">Return Back</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAscending)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsertionTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAscending)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertionTime)
            </td>
        </tr>
}
    </tbody>
</table>
