@model IEnumerable<Airport.Data.Model.LiveUpdate>

@{
    ViewData["Title"] = "SeeAllLiveUpdates";
}

<h1>Live Updates</h1>
<table class="table">

    <thead>
        <tr>
            @*  <th>
                @Html.DisplayNameFor(model => model.LiveUpdateId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FlightId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEntering)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.StationNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @* <td>
                    @Html.DisplayFor(modelItem => item.LiveUpdateId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.FlightId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsEntering)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StationNumber)
                </td>
            </tr>
        }
    </tbody>
</table>
